<div class="row">
    <div class="col-lg-7 d-custom aside">
        <app-overlayed></app-overlayed>
    </div>
    <div class="col-lg-5 col-sm-12 col-xs-12">
        <div class="register form-global">
            <div class="head">
                <h1 class="title">Hola,<br><b>Registrate</b></h1>
            </div>
            <form #f="ngForm" (ngSubmit)="registrar(f.value)" ngNativeValidate>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Nombres" name="nombres" #nombres="ngModel" ngModel required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Apellidos" name="apellidos" #apellidos="ngModel" ngModel required>
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Correo" name="correo" #correo="ngModel" ngModel required>
                </div>
                <div class="input-group mb-2">
                    <input type="password" class="form-control form-custom" placeholder="Contraseña" name="contrasena" #contrasena="ngModel" ngModel required>
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="far fa-eye"></i></div>
                    </div>
                </div>
                <div class="input-group mb-2">
                    <input type="password" class="form-control form-custom" placeholder="Confirmar contraseña" name="confirmar" #confirmar="ngModel" ngModel required>
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="far fa-eye"></i></div>
                    </div>
                </div>
                <div class="form-check d-flex mb-3">
                    <label class="custom-control mapnetic-checkbox">
                        <span class="mapnetic-control-description">Acepto los <a data-toggle="modal" 
                          data-target="#modalText" class="link">terminos y condiciones</a></span>
                        <input type="checkbox" class="mapnetic-control-input">
                        <span class="mapnetic-control-indicator"></span>
                    </label>
                </div>
                <label for="" id="error"></label>
                <button type="button" class="btn" (click)="loginWithGoogle()">Registrarse Google</button>
                <button type="button" class="btn" (click)="loginWithFacebook()">Registrarse Facebook</button>
                <button type="submit" class="btn">Registrarse</button>
                <p class="description">Si ya tienes una cuenta ingresa <a routerLink="/" class="link">aquí</a></p>
            </form>
        </div>
    </div>
</div>
<app-terms></app-terms>