<div class="row">
    <div class="col-lg-7 d-custom aside">
        <app-overlayed></app-overlayed>
    </div>
    <div class="col-lg-5 col-sm-12 col-xs-12">
        <div class="register form-global">
            <div class="head">
                <h1 class="title">Hola,<br><b>Registrate</b></h1>
            </div>
            <form>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Nombres" [(ngModel)]="registro.nombres" name="nombres">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Apellidos" [(ngModel)]="registro.apellidos" name="apellidos">
                  </div>
                  <div class="form-group">
                    <input type="email" class="form-control" placeholder="Correo" [(ngModel)]="registro.correo" name="correo">
                  </div>
                <div class="input-group mb-2">
                    <input type="password" class="form-control form-custom"  placeholder="Contraseña" [(ngModel)]="registro.contrasena" name="contrasena">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="far fa-eye"></i></div>
                    </div>
                </div>
                <div class="input-group mb-2">
                    <input type="password" class="form-control form-custom"  placeholder="Confirmar contraseña" [(ngModel)]="registro.confirmar" name="confirmar">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="far fa-eye"></i></div>
                    </div>
                </div>
                <div class="form-check d-flex mb-3">
                    <label class="custom-control mapnetic-checkbox">
                        <span class="mapnetic-control-description">Acepto los <a data-toggle="modal" 
                          data-target="#terminosCondiciones" class="link">terminos y condiciones</a></span>
                        <input type="checkbox" class="mapnetic-control-input">
                        <span class="mapnetic-control-indicator"></span>
                    </label>
                </div>
                <button type="submit" class="btn" (click)="insertarRegistro()" routerLink="/">Registrarse</button>
                <p class="description">Si ya tienes una cuenta ingresa <a routerLink="/" class="link">aquí</a></p>
            </form>   
        </div>
    </div>
</div>
<app-terms></app-terms>