<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <!-- <div id="dismiss"><i class="glyphicon glyphicon-arrow-left"></i></div> -->
        <div class="sidebar-header user">
            <div class="user-img">
                <img src="../../../../assets/images/profile/unnamed.jpg" alt="" class="foto_profile img-fluid">
            </div>
            <div class="user-description">
                <p>Hola</p>
                <h3 class="nombres_text">--</h3>    
            </div>
        </div>
        <ul class="list-unstyled components">
            <!-- <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Home</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li><a href="#">Home 1</a></li>
                    <li><a href="#">Home 2</a></li>
                    <li><a href="#">Home 3</a></li>
                </ul>
            </li> -->
            <li><a routerLink="/home"><i class="fas fa-home"></i>Home</a></li>
            <li><a routerLink="/profile"><i class="fas fa-user-alt"></i>Perfil</a></li>
            <li><a routerLink="/package"><i class="fas fa-box"></i>Paquetes</a></li>
            <li><a href="/dashboard"><i class="fas fa-tachometer-alt"></i>Dashboard</a></li>
            <li><a href="/networker"><i class="fas fa-project-diagram"></i>Networker</a></li>
            <li><a href="/commerce"><i class="fas fa-dumpster"></i>Comercio</a></li>
            <li><a href="/wallet"><i class="fas fa-wallet"></i>Billetera</a></li>
            <li><a href="#"><i class="fas fa-comment-alt"></i>Notificaciónes</a></li>
        </ul>
        <ul class="list-unstyled CTAs">
            <li><a data-toggle="modal" data-target="#configurationModal">Configuración</a></li>
            <li><a data-toggle="modal" data-target="#modalText">Acerca de</a></li>
            <li><a data-toggle="modal" data-target="#modalText">Terminos y condiciones</a></li>
            <li><a onclick="mostrarModelConfirm('modalConfirm', '¿Estas seguro que desea salir?')">Cerrar sesión</a></li>
        </ul>
    </nav>
</div>
<div class="overlay"></div>
<app-terms></app-terms>
<app-configuration></app-configuration>
