<div class="form_custom">
    <div class="card-description">
        <p class="description">Completar los siguientes pasos</p>
        <form>
            <input type="text" placeholder="Oferta">
            <input type="text" placeholder="Tipo de recompensa">
            <input type="text" placeholder="Recompensa">
            <button type="button" class="btn btn_offer" data-toggle="modal" data-target="#exampleModal">
                Guardar
            </button>
        </form>
    </div>
</div>