
/** css styles aside login **/
.overlayed{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.overlayed::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../../../assets/images/global/bg-login.png");
    background-size: 100% 100%;
    z-index: 0;
}

.overlayed .content-overlayed{
    max-width: 700px;
    margin: auto;
    position: relative;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    color: #FFF;
}

.overlayed .content-overlayed h1{
    font-size: 3em;
    color: #b85999;
}
.overlayed .content-overlayed h3{
    text-align: center;
    margin-top: 15px;
    font-size: 1.5em;
    font-weight: 400;
    color: #b85999;
}
.overlayed .content-overlayed .btn.btn-secundary{
    margin-top: 40px;
    background-color: rgba(184, 89, 153,.5) !important;
    color: #FFF;
    border-color: #FFF;
    max-width: 350px;
    font-size: 1.4em;
    padding: 15px;
}
.overlayed .content-overlayed .btn.btn-secundary:hover{
    background-color: #3b5998;
    opacity: .8 ;
}

