<div class="body">
    <div class="card-description">
        <div class="content-offer btn">
            <a href="">
                <i class="fas fa-plus"></i>
            </a>
        </div>
    </div>
    <div class="card-description">
        <div class="content-offer">
            <p>Por cada 100 soles de compra</p>
            <div class="offer">
                <span>Recibe S/.100.00</span>
                <span>Bonus</span>
            </div>
        </div>
    </div>
    <div class="card-description">
        <div class="content-offer">
            <p>Por cada 100 soles de compra</p>
            <div class="offer">
                <span>Recibe S/.100.00</span>
                <span>Bonus</span>
            </div>
        </div>
    </div>
    <div class="card-description">
        <div class="content-offer">
            <p>Por cada 100 soles de compra</p>
            <div class="offer">
                <span>Recibe S/.100.00</span>
                <span>Bonus</span>
            </div>
        </div>
    </div>
    <div class="card-description">
        <div class="content-offer">
            <p>Por cada 100 soles de compra</p>
            <div class="offer">
                <span>Recibe S/.100.00</span>
                <span>Bonus</span>
            </div>
        </div>
    </div>
    <div class="card-description">
        <div class="content-offer">
            <p>Por cada 100 soles de compra</p>
            <div class="offer">
                <span>Recibe S/.100.00</span>
                <span>Bonus</span>
            </div>
        </div>
    </div>
    <div class="card-description">
        <div class="content-offer">
            <p>Por cada 100 soles de compra</p>
            <div class="offer">
                <span>Recibe S/.100.00</span>
                <span>Bonus</span>
            </div>
        </div>
    </div>
</div>