<div class="wrapper">
    <div class="wallet_bonus_content">
        <div class="card-description">
            <h3>Bonus</h3>
            <div class="body_bonus">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card_bonus">
                            <img src="/assets/images/wallet/burguer_king.png" alt="">
                            <div class="content_bonus">
                                <div class="bonus_description">
                                    <h4>Burger King</h4>
                                    <span>Comida rapida</span>
                                </div>
                                <div class="bonus_discount">
                                    <h4>-10%</h4>
                                    <span>descuento</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card_bonus">
                            <img src="/assets/images/wallet/burguer_king.png" alt="">
                            <div class="content_bonus">
                                <div class="bonus_description">
                                    <h4>Burger King</h4>
                                    <span>Comida rapida</span>
                                </div>
                                <div class="bonus_discount">
                                    <h4>-10%</h4>
                                    <span>descuento</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card_bonus">
                            <img src="/assets/images/wallet/burguer_king.png" alt="">
                            <div class="content_bonus">
                                <div class="bonus_description">
                                    <h4>Burger King</h4>
                                    <span>Comida rapida</span>
                                </div>
                                <div class="bonus_discount">
                                    <h4>-10%</h4>
                                    <span>descuento</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card_bonus">
                            <img src="/assets/images/wallet/burguer_king.png" alt="">
                            <div class="content_bonus">
                                <div class="bonus_description">
                                    <h4>Burger King</h4>
                                    <span>Comida rapida</span>
                                </div>
                                <div class="bonus_discount">
                                    <h4>-10%</h4>
                                    <span>descuento</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card_bonus">
                            <img src="/assets/images/wallet/burguer_king.png" alt="">
                            <div class="content_bonus">
                                <div class="bonus_description">
                                    <h4>Burger King</h4>
                                    <span>Comida rapida</span>
                                </div>
                                <div class="bonus_discount">
                                    <h4>-10%</h4>
                                    <span>descuento</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card_bonus">
                            <img src="/assets/images/wallet/burguer_king.png" alt="">
                            <div class="content_bonus">
                                <div class="bonus_description">
                                    <h4>Burger King</h4>
                                    <span>Comida rapida</span>
                                </div>
                                <div class="bonus_discount">
                                    <h4>-10%</h4>
                                    <span>descuento</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </div>
</div>