<app-package-banner></app-package-banner>
<app-sidebar-menu></app-sidebar-menu>
<div class="body">
    <div class="container">
        <span *ngFor="let pack of packs">
            <h5>{{pack.name}}</h5>
            <div class="row">
                <div class="col-6 col-lg-3 col-sm-6 col-md-6 col-xs-6" *ngFor="let plan of pack.plans">
                    <app-package-card [data]="plan"></app-package-card>
                </div>
            </div>
        </span>
        <!-- <h5>Comercio</h5>
        <div class="row">
            <div class="col-6 col-lg-3 col-sm-6 col-md-6 col-xs-6">
                <app-package-card></app-package-card>
            </div>
            <div class="col-6 col-lg-3 col-sm-6 col-md-6 col-xs-6">
                <app-package-card></app-package-card>
            </div>
            <div class="col-6 col-lg-3 col-sm-6 col-md-6 col-xs-6">
                <app-package-card></app-package-card>
            </div>
            <div class="col-6 col-lg-3 col-sm-6 col-md-6 col-xs-6">
                <app-package-card></app-package-card>
            </div>
        </div>
        <h5>Networker</h5>
        <div class="row mb-5">
            <div class="col-6 col-lg-3 col-sm-6 col-md-6 col-xs-6">
                <app-package-card></app-package-card>
            </div>
            <div class="col-6 col-lg-3 col-sm-6 col-md-6 col-xs-6">
                <app-package-card></app-package-card>
            </div>
            <div class="col-6 col-lg-3 col-sm-6 col-md-6 col-xs-6">
                <app-package-card></app-package-card>
            </div>
            <div class="col-6 col-lg-3 col-sm-6 col-md-6 col-xs-6">
                <app-package-card></app-package-card>
            </div>
        </div> -->
    </div>
</div>