<div class="menu-footer">
    <div class="card-footer">
        <ul class="nav-tab">
            <li><a href="" class="nav-link active">
                <i class="fas fa-store-alt"></i>
            </a></li>
            <li><a href="" class="nav-link">
                <i class="fas fa-users"></i>
            </a></li>
            <li><a href="" class="nav-link">
                <i class="fas fa-tags"></i>
            </a></li>
            <li><a href="" class="nav-link">
                <i class="fas fa-star"></i>
            </a></li>
        </ul>
    </div>
</div>