<div class="banner wallet_banner bg-banner">
    <div class="overlayed">
        <div class="navbar">
            <div class="container">
                <div class="toggle-bottom" id="sidebarCollapse">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
        <div class="profile">
            <div class="container">
                <div class="content-user">
                    <div class="user-img">
                        <img src="/assets/images/global/user.jpg" alt="">
                    </div>
                    <div class="description">
                        <h3 class="mb-3">Tony Stark</h3>
                        <p>151515***************1515</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>