<div class="row">
    <div class="col-lg-7 d-custom aside">
        <app-overlayed></app-overlayed>
    </div>
    <div class="col-lg-5 col-sm-12 col-xs-12">
        <div class="recovery-password form-global">
            <div class="head">
                <h1 class="title"><b>Olvide!<br> la contraseña</b></h1>
            </div>
            <form>
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Correo">
                </div>
                <div class="input-group mb-2">
                    <input type="password" class="form-control form-custom"  placeholder="Ultima contraseña">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="far fa-eye"></i></div>
                    </div>
                </div>
                <button type="submit" class="btn mt-5">Recuperar contraseña</button>
                <p class="description">Para regresar al login click <a routerLink="/" class="link">aquí</a></p>
            </form>   
        </div>
    </div>
</div>