<!-- Modal -->
<div class="modal fade" id="modalText" tabindex="-1" role="dialog" aria-labelledby="terminosCondiciones" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h2>Eserunt nisi error quod, ad earum.</h2>
          <p class="description">Lois consequuntur fugiat, sit excepturi</p>
        </div>
        <div class="modal-body">
            <h4><i class="fas fa-stop-circle"></i>Lorem tis consequuntur fugiat</h4>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae obcaecati hic esse velit 
            amet voluptas deserunt nisi error quod, ad earum. Rerum voluptatum laboriosam dignissimos
            perspiciatis consequuntur fugiat, sit excepturi.</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi fuga odio voluptatum quis 
            animi laboriosam dolore, velit quisquam dolorum deleniti saepe, a eum magni consectetur culpa, 
            esse voluptatem quas amet.</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae obcaecati hic esse velit 
            amet voluptas deserunt nisi error quod, ad earum. Rerum voluptatum laboriosam dignissimos
            perspiciatis consequuntur fugiat, sit excepturi.</p>
            <h4><i class="fas fa-stop-circle"></i>Lorem tis consequuntur fugiat</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi fuga odio voluptatum quis 
            animi laboriosam dolore, velit quisquam dolorum deleniti saepe, a eum magni consectetur culpa, 
            esse voluptatem quas amet.</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae obcaecati hic esse velit 
            amet voluptas deserunt nisi error quod, ad earum. Rerum voluptatum laboriosam dignissimos
            perspiciatis consequuntur fugiat, sit excepturi.</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi fuga odio voluptatum quis 
            animi laboriosam dolore, velit quisquam dolorum deleniti saepe, a eum magni consectetur culpa, 
            esse voluptatem quas amet.</p>
            <h4><i class="fas fa-stop-circle"></i>Lorem tis consequuntur fugiat</h4>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae obcaecati hic esse velit 
            amet voluptas deserunt nisi error quod, ad earum. Rerum voluptatum laboriosam dignissimos
            perspiciatis consequuntur fugiat, sit excepturi.</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi fuga odio voluptatum quis 
            animi laboriosam dolore, velit quisquam dolorum deleniti saepe, a eum magni consectetur culpa, 
            esse voluptatem quas amet.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>