<div class="wrapper mb-5">
    <div class="">
        <div class="row">
            <div class="col-lg-8 col-xs-12">
                <div class="row">
                    <div class="col-lg-12 card-description">
                        <div class="body">
                            <p class="description">Firma Actual</p>
                            <input type="text" value="Stark Industries" class="edit_input firma" placeholder="Nombres">
                            <p class="description">Sobre mí</p>
                            <ul>
                                <li>
                                    <input type="text" value="Genio" class="edit_input" placeholder="Nombres"></li>
                                <li>
                                    <input type="text" value="Filantropo" class="edit_input" placeholder="Nombres">
                                </li>
                                <li>
                                    <input type="text" value="Playboy" class="edit_input" placeholder="Nombres">
                                </li>
                                <li>
                                    <input type="text" value="Millonario" class="edit_input" placeholder="Nombres">                                   
                                </li>
                            </ul>
                        </div>
                        <div class="card-company">
                            <img src="/assets/images/global/stark-industries.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-lg-12 col-xs-12 content-interesting">
                        <h3 class="ml-2 interests-title">Intereses</h3>
                        <div class="interests">
                            <div class="card-company">
                                <img src="/assets/images/global/stark-industries.jpg" alt="">
                            </div>
                            <div class="card-company">
                                <img src="/assets/images/global/stark-industries.jpg" alt="">
                            </div>
                            <div class="card-company">
                                <img src="/assets/images/global/stark-industries.jpg" alt="">
                            </div>
                            <div class="card-company">
                                <img src="/assets/images/global/stark-industries.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xs-12">
                <h3 class="ml-4 interests-title">Información</h3>
                <div class="card-description features">
                    <div class="item-feature">
                        <p class="description">Grado academico</p>
                        <h3>Ingeniero de Software</h3>
                        <p class="description ml-2">Universidad Catolica San Marcos</p>
                        <h3>Master en Software</h3>
                        <p class="description ml-2">Universidad Peruana de Ciencias Aplicadas</p>
                    </div>
                    <div class="item-feature">
                        <p class="description">Reseña personal</p>
                        <h3>Soy una persona decidida. sin limites y con altos estandares ...</h3>
                    </div>
                    <div class="item-feature">
                        <p class="description">Experiencia profesional</p>
                        <h3>Lorem ipsum dolor sit, amet consectetur adipisicing elit. In ad fugiat expedita...</h3>
                    </div>
                </div>
            </div>     
        </div>
    </div>
</div>