<div class="footer">
    <app-menu-footer></app-menu-footer>
    <div class="container-fluid">
        <div class="body">
            <div class="card">
                <div class="card-description-footer">
                    <img src="../../../../assets/images/global/thumbail.jpg" alt="" class="img-fluid">
                    <div class="description">
                        <h3 class="title">Stark Industries</h3>
                        <p>Descripción del item</p>
                        <p>Subdescripción del item</p>
                    </div>
                </div>
                <div class="action-btn">
                    <a href="">Go</a>
                </div>
            </div>
        </div>
    </div>
</div>