<div class="row">
    <div class="col-lg-6 col-xs-12">
        <div class="card-description profile features">
            <p class="title">Datos personales</p>
            <div class="item-feature">
                <input type="text" value="Tony Stark" class="edit_input" placeholder="Nombres">
                <p class="description ml-2">Nombre</p>
                <input type="text" value="***********" class="edit_input" placeholder="Contraseña">
                <p class="description ml-2">Contraseña</p>
                <input type="text" value="tony.stark.iron@gmail.com" class="edit_input" placeholder="Correo electronico">
                <p class="description ml-2">Correo electronico</p>
                <input type="text" value="Nueva York City, Malibu point 205" class="edit_input" placeholder="Direccion">
                <p class="description ml-2">Dirección</p>
                <input type="text" value="+51 983548715" class="edit_input" placeholder="Telefono">
                <p class="description ml-2">Telefono</p>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-xs-12">
        <div class="card-description profile features">
            <p class="title">Otros datos personales</p>
            <div class="item-feature">
                <h3>Tony Stark</h3>
                <p class="description ml-2">Nombre</p>
                <h3>***********</h3>
                <p class="description ml-2">Contraseña</p>
                <h3>tony.stark.iron@gmail.com</h3>
                <p class="description ml-2">Correo electronico</p>
                <h3>Nueva York City, Malibu point 205</h3>
                <p class="description ml-2">Dirección</p>
                <h3>+51 983548715</h3>
                <p class="description ml-2">Telefono</p>
            </div>
        </div>
    </div>
</div>