<div class="row">
    <div class="col-lg-6 col-xs-12">
        <div class="card-description profile features">
            <p class="title">Datos personales</p>
            <div class="item-feature">
                <h3>Tony Stark</h3>
                <p class="description ml-2">Nombre</p>
                <h3>***********</h3>
                <p class="description ml-2">Contraseña</p>
                <h3>tony.stark.iron@gmail.com</h3>
                <p class="description ml-2">Correo electronico</p>
                <h3>Nueva York City, Malibu point 205</h3>
                <p class="description ml-2">Dirección</p>
                <h3>+51 983548715</h3>
                <p class="description ml-2">Telefono</p>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-xs-12">
        <div class="card-description profile features">
            <p class="title">Otros datos personales</p>
            <div class="item-feature">
                <h3>Tony Stark</h3>
                <p class="description ml-2">Nombre</p>
                <h3>***********</h3>
                <p class="description ml-2">Contraseña</p>
                <h3>tony.stark.iron@gmail.com</h3>
                <p class="description ml-2">Correo electronico</p>
                <h3>Nueva York City, Malibu point 205</h3>
                <p class="description ml-2">Dirección</p>
                <h3>+51 983548715</h3>
                <p class="description ml-2">Telefono</p>
            </div>
        </div>
    </div>
</div>