<div class="wrapper">
    <div class="body">
        <div class="card-description wallet_content_info">
            <h3>Tarjeta</h3>
            <div class="wallet_info">
                <div class="wallet_description">
                    <h2>Vincular Tarjeta</h2>
                    <span>Configurar pagos</span>
                </div>
                <span class="info">4251*********1818</span>
            </div>
            <h3>Estado de cuenta</h3>
            <div class="wallet_info">
                <div class="wallet_description">
                    <h2>Expertar a mi correo</h2>
                    <span>Enviado a tu correo</span>
                </div>
                <span class="info">infobeecompa...@g...m</span>
            </div>
        </div>
    </div>
</div>