<div class="banner bg-banner"  [style.background-image]="'url('+( data.cover || '/assets/images/commerce/bg-banner.jpg')+')'">
    <div class="">
        <div class="navbar">
            <div class="container">
                <div class="toggle-bottom" id="sidebarCollapse">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <h3>Comercio</h3>
            </div>
        </div>
        <div class="profile">
            <div class="container">
                <div class="content-user">
                    <div class="user-img">
                        <img [src]="data.photo || '/assets/images/commerce/profile.png'" alt="">
                    </div>
                    <div class="description">
                        <h3 class="mb-3">{{data.displayName}}</h3>
                        <p>Commerce title</p>
                    </div>
                    <div class="stats">
                        <div class="stats_description">
                            <span><i class="fas fa-map-marker-alt"></i>1km</span>
                            <span><i class="far fa-heart"></i>123</span>
                        </div>
                        <a href="" class="ml-auto">Editar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="overlayed"></div>
</div>