<!-- Modal -->
<div class="modal fade" id="configurationModal" tabindex="-1" role="dialog" aria-labelledby="terminosCondiciones" aria-hidden="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h2>Configuraciones</h2>
          <p class="description">Lois consequuntur fugiat, sit excepturi</p>
        </div>
        <div class="modal-body">
            <h4 class="section">Mensajes</h4>
            <div class="card_configuration">
                <div class="card_description">
                    <h3 class="description_title">Tonos de conversación</h3>
                    <p class="description">Lorem ipsum dolor sit, amet consectetur adipisicing Rerum ...</p>
                </div>
                <div class="pretty p-switch p-fill">
                    <input type="checkbox" [(ngModel)]="config.tonos_mensajes" (ngModelChange)="setConfiguration({tonos_mensajes : config.tonos_mensajes})"/>
                    <div class="state">
                        <label></label>
                    </div>
                </div>
            </div>
            <div class="card_configuration">
                <div class="card_description">
                    <h3 class="description_title">Vibración</h3>
                    <p class="description">Lorem ipsum dolor sit, amet consectetur adipisicing Rerum
                        ipsum dolor sit, amet consectetur.
                    </p>
                </div>
                <div class="pretty p-switch p-fill">
                    <input type="checkbox" [(ngModel)]="config.vibracion_mensajes" (ngModelChange)="setConfiguration({vibracion_mensajes : config.vibracion_mensajes})"/>
                    <div class="state">
                        <label></label>
                    </div>
                </div>
            </div>
            <h4 class="section">Notificaciones</h4>
            <div class="card_configuration">
                <div class="card_description">
                    <h3 class="description_title">Recibir notificaciónes</h3>
                    <p class="description">Lorem ipsum dolor sit, amet consectetur adipisicing Rerum
                        ipsum dolor sit, amet consectetur afewcwvwv.
                    </p>
                </div>
                <div class="pretty p-icon p-round p-pulse">
                    <input type="checkbox" [(ngModel)]="config.recibir_notificaciones" (ngModelChange)="setConfiguration({recibir_notificaciones : config.recibir_notificaciones})"/>
                    <div class="state p-success">
                        <i class="icon mdi mdi-check"></i>
                        <label></label>
                    </div>
                </div>
            </div>
            <h4 class="section">Otros</h4>
            <div class="card_configuration">
                <div class="card_description">
                    <h3 class="description_title">Vibración</h3>
                    <p class="description">Lorem ipsum dolor sit, amet consectetur adipisicing Rerum
                        ipsum dolor sit, amet consectetur.
                    </p>
                </div>
                <div class="pretty p-switch p-fill">
                    <input type="checkbox" [(ngModel)]="config.otros_notificaciones" (ngModelChange)="setConfiguration({otros_notificaciones : config.otros_notificaciones})"/>
                    <div class="state">
                        <label></label>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn" data-dismiss="modal">Close</button>
          </div>
      </div>
    </div>
  </div>