<nav class="navbar navbar-default">
    <div class="navbar-search">
        <form>
            <div class="input-group">
                <button type="button" id="sidebarCollapse" class="btn">
                    <i class="glyphicon glyphicon-align-left"></i>
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </button>
                <input type="text" class="form-control form-custom" id="inlineFormInputGroup" placeholder="Buscar">
                <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fas fa-search"></i></div>
                </div>
            </div>
        </form>
    </div>
</nav>