.body{
    background-color: #eff0f0;
    position: relative;
    width: 100%;
    padding: 10px 0;
    margin-bottom: 80px;
}
.body .nav-tabs{
    position: fixed;
    bottom: 0;
    z-index: 999;
    width: 100%;
    margin: 0;
    padding: 20px 0;
}
.body .nav-tabs .nav-item .nav-link{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin: 0 10px;
    font-size: 0.8em;
    padding: 10px 30px;
    min-height: 45px;
    color: #5d6dae;
}
.body .nav-tabs .nav-item .nav-link > i{
    margin-right: 0;
    font-size: 1.2em;
}
.body .nav-tabs .nav-item .nav-link > span{
    display: none;
}
.body .nav-tabs .nav-item .nav-link.active{
    border-bottom: none;
    background-color: #b8bfdb;
}
.body .nav-tabs .nav-item .nav-link.active > i{
    margin-right: 10px;
}
.body .nav-tabs .nav-item .nav-link.active > span{
    display: block;
}
/** Media querys **/
@media(max-width:575.98px){
    .body .nav-tabs .nav-item .nav-link{
        padding: 10px 20px;
    }
}