<div class="card-description  content-followers">
    <div class="body">
        <app-follower-card></app-follower-card>
        <app-follower-card></app-follower-card>
        <app-follower-card></app-follower-card>
        <app-follower-card></app-follower-card>
        <app-follower-card></app-follower-card>
        <app-follower-card></app-follower-card>
        <app-follower-card></app-follower-card>
        <app-follower-card></app-follower-card>
        <app-follower-card></app-follower-card>  
    </div>
</div>