<div class="wrapper">
    <div class="wallet_money_content">
        <div class="card-description">

            <div class="head">
                <h3>Billetera</h3>
                <div class="balance_content">
                    <p>Tienes disponible</p>
                    <h3>USD 4092.12</h3>
                </div>
            </div>
            <div class="body_dinner">
                <div class="card_dinner">
                    <h3>USD 5.00</h3>
                    <span class="level">Nivel 1</span>
                </div>
                <div class="card_dinner">
                    <h3>USD 5.00</h3>
                    <span class="level">Nivel 1</span>
                </div>
                <div class="card_dinner">
                    <h3>USD 5.00</h3>
                    <span class="level">Nivel 1</span>
                </div>
                <div class="card_dinner">
                    <h3>USD 5.00</h3>
                    <span class="level">Nivel 1</span>
                </div>
                <div class="card_dinner">
                    <h3>USD 5.00</h3>
                    <span class="level">Nivel 1</span>
                </div>
            </div>
            <div class="alert">
                <p>Para retirar debe comprar uno de nuestros paquetes
                <i class="fas fa-exclamation pl-2"></i></p>   
            </div>
            <app-buttom-help></app-buttom-help>
        </div>
    </div>
</div>