<div class="wrapper">
    <div class="row">
        <div class="col-lg-5">
            <div class="card-description">
                <div class="wallet_community">
                    <div class="card_community nivel_1">
                        <div class="card_body_community">
                            <div class="card_aside">
                                <h5>15</h5>
                                <h5>6</h5>
                            </div>
                            <div class="card_progress">
                                <div class="progress"></div>
                            </div>
                        </div>
                        <p>Nivel 1</p>
                    </div>
                    <div class="card_community nivel_2">
                        <div class="card_body_community">
                            <div class="card_aside">
                                <h5>45</h5>
                                <h5>36</h5>
                            </div>
                            <div class="card_progress">
                                <div class="progress"></div>
                            </div>
                        </div>
                        <p>Nivel 2</p>
                    </div>
                    <div class="card_community nivel_3">
                        <div class="card_body_community">
                            <div class="card_aside">
                                <h5>55</h5>
                                <h5>16</h5>
                            </div>
                            <div class="card_progress">
                                <div class="progress"></div>
                            </div>
                        </div>
                        <p>Nivel 3</p>
                    </div>
                    <div class="card_community nivel_4">
                        <div class="card_body_community">
                            <div class="card_aside">
                                <h5>55</h5>
                                <h5>16</h5>
                            </div>
                            <div class="card_progress">
                                <div class="progress"></div>
                            </div>
                        </div>
                        <p>Nivel 4</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-7">
            <div class="card-description">
                <div class="wallet_content_code">
                    <h3>Codigo de invitación</h3>
                    <div class="wallet_info">
                        <div class="wallet_description">
                            <h2>Invita a tus contactos</h2>
                            <span>Use este codigo de activación</span>
                        </div>
                        <span class="code">4D5ADA5AD55FEG59GE9HT48</span>
                    </div>
                    <div class="btn_copy">
                        <a href="">Copiar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>