<div class="catalog container-fluid">
    <div class="body-products">
        <div class="row">
            <div class="col-xs-6 col-lg-3 col-6 ">
                <div class="card-description btn">
                    <a href="">
                        <i class="fas fa-plus"></i>
                    </a>
                </div>
            </div>
            <div class="col-xs-6 col-lg-3 col-6">
                <div class="card-description">
                    <img src="/assets/images/global/Apple-Watch.png" alt="">
                    <div class="content-description">
                        <p class="name">Producto 1</p>
                        <p class="description">Descriptión</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-lg-3 col-6">
                <div class="card-description">
                    <img src="/assets/images/global/xioami.png" alt="">
                    <div class="content-description">
                        <p class="name">Producto 1</p>
                        <p class="description">Descriptión</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-lg-3 col-6">
                <div class="card-description">
                    <img src="/assets/images/global/XiaomTV.png" alt="">
                    <div class="content-description">
                        <p class="name">Producto 1</p>
                        <p class="description">Descriptión</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-lg-3 col-6">
                <div class="card-description">
                    <img src="/assets/images/global/amazon-alexa.png" alt="">
                    <div class="content-description">
                        <p class="name">Producto 1</p>
                        <p class="description">Descriptión</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-lg-3 col-6">
                <div class="card-description">
                    <img src="/assets/images/global/Apple-Watch.png" alt="">
                    <div class="content-description">
                        <p class="name">Producto 1</p>
                        <p class="description">Descriptión</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-lg-3 col-6">
                <div class="card-description">
                    <img src="/assets/images/global/xioami.png" alt="">
                    <div class="content-description">
                        <p class="name">Producto 1</p>
                        <p class="description">Descriptión</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-lg-3 col-6">
                <div class="card-description">
                    <img src="/assets/images/global/XiaomTV.png" alt="">
                    <div class="content-description">
                        <p class="name">Producto 1</p>
                        <p class="description">Descriptión</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>