<div class="banner bg-banner" [style.background-image]="'url('+( data.cover || '/assets/images/commerce/caribe.jpg')+')'">
    <div class="overlayed_bg">
        <div class="navbar">
            <div class="container">
                <div class="toggle-bottom" id="sidebarCollapse">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <h3>Networker</h3>
                <a href=""><i class="fas fa-user-plus"></i></a>
            </div>
        </div>
        <div class="profile">
            <div class="container">
                <div class="content-user">
                    <div class="user-img">
                        <img [src]="data.photo ||  '/assets/images/global/user.jpg'" alt="">
                    </div>
                    <div class="description">
                        <input type="text" [(ngModel)]="data.displayName" class="mb-2 edit_input name" placeholder="Nombres">
                        <!-- <h3 class="mb-3">Tony Stark</h3> -->
                        <input type="text" value="Software Engineer" class="edit_input info_input" placeholder="Nombres">
                        <input type="text" value="Arequipa, Peru" class="edit_input info_input" placeholder="Nombres">

                        <!-- <p>Software Engineer</p>
                        <p>Arequipa, Peru</p> -->
                        <span onclick="edit_module()">Editar</span>
                    </div>
                    <div class="followers">
                        <p>Seguidores 4k</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="overlayed">
    </div>
</div>