<div class="modal fade" id="modalConfirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
          ¿Está seguro que desea realizar está acción?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-confirm" data-dismiss="modal">Guardar</button>
          <button type="button" class="btn btn-cancel">Cancelar</button>
        </div>
      </div>
    </div>
  </div>