<div class="modal fade" id="modalConfirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <p class="question"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-confirm" data-dismiss="modal" 
          (click)="cerrar()" routerLink="/">Aceptar</button>
          <button type="button" class="btn btn-cancel" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>