<div class="body">
    <div class="container-fluid">
        <a routerLink="/chat">
            <div class="followers">
                <div class="thumbail">
                    <img src="/assets/images/followers/followers.jpg" alt="">
                </div>
                <div class="descrition">
                    <h3 class="name">Robert Downey, Jr.</h3>
                    <div class="info">
                        <p><i class="fas fa-users"></i> 225</p>
                        <p><i class="fas fa-map-marker-alt"></i>1km</p>
                    </div>
                </div>
                <div class="messages"><span>3</span></div>
            </div>
        </a>
    </div>
</div>
