<div class="catalog container-fluid">
    <div class="body-products">
        <div class="row">
            <div class="col-lg-12">
                <h3>Productos y servicios</h3>
            </div>
            <div class="col-xs-6 col-lg-3 col-6 ">
                <div class="card-description">
                    <img src="/assets/images/global/amazon-alexa.png" class="img-fluid">
                    <div class="content-description">
                        <input type="text" value="Producto 1" class="edit_input name" placeholder="Nombres">
                        <input type="text" value="Descriptión 1" class="edit_input description" placeholder="Descripción">
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-lg-3 col-6">
                <div class="card-description">
                    <img src="/assets/images/global/Apple-Watch.png" alt="">
                    <div class="content-description">
                        <input type="text" value="Producto 1" class="edit_input name" placeholder="Nombres">
                        <input type="text" value="Descriptión 1" class="edit_input description" placeholder="Descripción">
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-lg-3 col-6">
                <div class="card-description">
                    <img src="/assets/images/global/xioami.png" alt="">
                    <div class="content-description">
                        <input type="text" value="Producto 1" class="edit_input name" placeholder="Nombres">
                        <input type="text" value="Descriptión 1" class="edit_input description" placeholder="Descripción">
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-lg-3 col-6">
                <div class="card-description">
                    <img src="/assets/images/global/XiaomTV.png" alt="">
                    <div class="content-description">
                        <input type="text" value="Producto 1" class="edit_input name" placeholder="Nombres">
                        <input type="text" value="Descriptión 1" class="edit_input description" placeholder="Descripción">
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-lg-3 col-6">
                <div class="card-description">
                    <img src="/assets/images/global/amazon-alexa.png" alt="">
                    <div class="content-description">
                        <input type="text" value="Producto 1" class="edit_input name" placeholder="Nombres">
                        <input type="text" value="Descriptión 1" class="edit_input description" placeholder="Descripción">
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-lg-3 col-6">
                <div class="card-description">
                    <img src="/assets/images/global/Apple-Watch.png" alt="">
                    <div class="content-description">
                        <input type="text" value="Producto 1" class="edit_input name" placeholder="Nombres">
                        <input type="text" value="Descriptión 1" class="edit_input description" placeholder="Descripción">
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-lg-3 col-6">
                <div class="card-description">
                    <img src="/assets/images/global/xioami.png" alt="">
                    <div class="content-description">
                        <input type="text" value="Producto 1" class="edit_input name" placeholder="Nombres">
                        <input type="text" value="Descriptión 1" class="edit_input description" placeholder="Descripción">
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-lg-3 col-6">
                <div class="card-description">
                    <img src="/assets/images/global/XiaomTV.png" alt="">
                    <div class="content-description">
                        <input type="text" value="Producto 1" class="edit_input name" placeholder="Nombres">
                        <input type="text" value="Descriptión 1" class="edit_input description" placeholder="Descripción">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>