<app-dashboard-banner></app-dashboard-banner>
<app-sidebar-menu></app-sidebar-menu>
<div class="body pt-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <app-grafics></app-grafics>
            </div>
            <div class="col-lg-6">
                <app-grafics></app-grafics>
            </div>
            <div class="col-lg-6">
                <app-pie-chart></app-pie-chart>
            </div>
            <div class="col-lg-6">
                <app-transactions></app-transactions>
            </div>
        </div>
    </div>
</div>