<div class="banner profile-banner bg-banner">
    <div class="navbar">
            <div class="container">
                <div class="toggle-bottom" id="sidebarCollapse">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <h3>Perfil</h3>
            </div>
    </div>
    <div class="profile">
            <div class="container">
                <div class="content-user">
                    <div class="user-img">
                        <div class="buttom-add-image">
                            <a href=""><i class="fas fa-image"></i></a>
                        </div>
                        <img src="/assets/images/global/user.jpg" alt="">
                    </div>
                    <div class="description">
                        <h3 class="mb-3 btn_edit">Tony Stark
                            <i class="far fa-edit" onclick="edit_module()"></i>
                        </h3>
                    </div>
                </div>
            </div>
    </div>
    <div class="overlayed">
        <!-- <div class="edit_banner">
            <div class="input-group mb-3">
                <div class="custom-file">
                <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                <label class="custom-file-label" for="inputGroupFile01">Buscar</label>
                </div>
            </div>
        </div> -->
    </div>
</div>