<div class="banner profile-banner bg-banner" id="banner_profile" [style.background-image]="'url('+( urlPortada || '../../../../assets/images/global/caribe.jpg')+')'">
    <div class="navbar">
        <div class="container">
            <div class="toggle-bottom" id="sidebarCollapse">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <h3>Perfil</h3>
            <div class="options">
                <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" 
                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   Acciones
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <input type="file" class="input_file foto" id="input_file_foto" accept="image/" 
                    (change)="uploadPerfil($event)"> 
                    <label for="input_file_foto" class="dropdown-item" >Cambiar perfil</label>
                    <input type="hidden" [value]="urlImageFoto | async" #imgUser id="photo_profile">
                    <input type="file" class="input_file" id="input_file_portada" accept="image/" 
                    (change)="uploadPortada($event)"> 
                    <label for="input_file_portada" class="dropdown-item" >Cambiar portada</label>
                    <input type="hidden" [value]="urlImagePortada | async" #imgUser id="portada_profile">
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="profile">
            <div class="container">
                <div class="content-user">
                    <div class="user-img">
                        <img alt="" [src]="urlPhoto || '../../../../assets/images/profile/unnamed.jpg'" class="foto_profile">
                    </div>
                    <div class="description">
                        <h3 class="mb-3 btn_edit nombres_text">
                                {{ data.nombres || ''}} {{ data.apellidos || '' }} 
                        </h3>
                    </div>
                </div>
            </div>
    </div>
    <div class="overlayed">
        <!-- <div class="edit_banner">
            <div class="input-group mb-3">
                <div class="custom-file">
                <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                <label class="custom-file-label" for="inputGroupFile01">Buscar</label>
                </div>
            </div>
        </div> -->
    </div>
</div>