<div class="modal fade" id="modalSendMail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <i class="fa fa-envelope"></i>
          <h5 class="text-center">Se envió un correo a su cuenta, por favor revise su buzón de entrada o spam.</h5>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-cancel m-auto" data-dismiss="modal">Entendido</button>
        </div>
      </div>
    </div>
  </div>