<div class="card-description chat">
    <div class="chat-head">
        <div class="title">
            <a routerLink="/networker"><i class="fas fa-chevron-left"></i></a>
            <h3>Robert Downey, Jr.</h3>
        </div>
    </div>
    <div class="chat-body">
        <div class="you_mssg">
            <div class="content_mssg">
                <span class="text_mssg">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi deserunt 
                    cum quasi tenetur quia laborum, consectetur perspiciatis sint eveniet molestiae 
                    eaque, minima, doloribus culpa. Nulla nesciunt excepturi delectus minus veniam?
                </span>
                <div class="thumbail_mssg">
                    <img src="/assets/images/followers/followers.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="mssg_received">
            <div class="content_mssg">
                <span class="text_mssg">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi deserunt 
                    cum quasi tenetur quia laborum??,
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, doloribus
                    vero hic architecto perspiciatis eos, perferendis nesciunt debitis, totam eaque 
                    molestiae fuga reiciendis. Obcaecati voluptates officiis sed iure quae a!
                </span>
                <div class="thumbail_mssg">
                    <img src="/assets/images/followers/followers.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="you_mssg">
            <div class="content_mssg">
                <span class="text_mssg">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi deserunt 
                    cum quasi tenetur quia laborum, consectetur perspiciatis sint eveniet molestiae 
                    eaque, minima, doloribus culpa. Nulla nesciunt excepturi delectus minus veniam?
                </span>
                <div class="thumbail_mssg">
                    <img src="/assets/images/followers/followers.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="mssg_received">
            <div class="content_mssg">
                <span class="text_mssg">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi deserunt 
                    cum quasi tenetur quia laborum??
                </span>
                <div class="thumbail_mssg">
                    <img src="/assets/images/followers/followers.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="you_mssg">
            <div class="content_mssg">
                <span class="text_mssg">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi deserunt 
                    cum quasi tenetur quia laborum, consectetur perspiciatis sint eveniet molestiae 
                    eaque, minima, doloribus culpa. Nulla nesciunt excepturi delectus minus veniam?
                </span>
                <div class="thumbail_mssg">
                    <img src="/assets/images/followers/followers.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="mssg_received">
            <div class="content_mssg">
                <span class="text_mssg">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi deserunt 
                    cum quasi tenetur quia laborum??
                </span>
                <div class="thumbail_mssg">
                    <img src="/assets/images/followers/followers.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="you_mssg">
            <div class="content_mssg">
                <span class="text_mssg">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi deserunt 
                    cum quasi tenetur quia laborum, consectetur perspiciatis sint eveniet molestiae 
                    eaque, minima, doloribus culpa. Nulla nesciunt excepturi delectus minus veniam?
                </span>
                <div class="thumbail_mssg">
                    <img src="/assets/images/followers/followers.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="mssg_received">
            <div class="content_mssg">
                <span class="text_mssg">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi deserunt 
                    cum quasi tenetur quia laborum??
                </span>
                <div class="thumbail_mssg">
                    <img src="/assets/images/followers/followers.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="chat-footer">
        <a href=""><i class="fa fa-camera"></i></a>
        <input type="text" placeholder="Mensaje...">
        <a href=""><i class="fas fa-paper-plane"></i></a>
    </div>
</div>