<div class="row">
    <div class="col-lg-12 col-xs-12">
        <div class="card-description features">
            <div class="item-feature">
                <h3 class="title">{{ data.company_name || '-'}}</h3>
                <p class="subtitle">{{ data.company_commerce_name || '-' }}</p>
                <p class="description">Información de la empresa</p>
                <p class="description-content">{{data.info || 'Sin Información'}}</p>

            </div>
            <div class="item-feature">
                <p class="description mb-3">Información de contacto</p>
                <div class="info-contact">
                    <p class="">Pagina web</p>
                    <a href="#">{{data.web || '-'}}</a>
                </div>
                <div class="info-contact">
                    <p class="">Telefono</p>
                    <p class="description-content">{{data.phone || '-'}}</p>
                </div>
                <div class="info-contact">
                    <p class="">Correo empresarial</p>
                    <p class="description-content">{{data.email || '-'}}</p>
                </div>
                <div class="info-contact">
                    <p class="">Direccion</p>
                    <p class="description-content">{{data.address || '-'}}</p>
                </div> 
            </div>
        </div>
    </div>
</div>