<div class="body">
    <h5>Transacciones</h5>
    <div class="card-description">
        <div class="transaction_content">
            <div class="icon">
                <i class="fas fa-headphones-alt"></i>
            </div>
            <div class="transaction_body">
                <div class="transaction_description">
                    <h4>EarPhones</h4>
                    <span>Colo anyway</span>
                </div>
                <h3 class="dinner">+$33,18</h3>
            </div>
        </div>
        <div class="transaction_content">
            <div class="icon">
                <i class="fas fa-phone"></i>
            </div>
            <div class="transaction_body">
                <div class="transaction_description">
                    <h4>Phones</h4>
                    <span>Colo anyway</span>
                </div>
                <h3 class="dinner">+$1533,18</h3>
            </div>
        </div>
        <div class="transaction_content">
            <div class="icon">
                <i class="fas fa-mobile-alt"></i>
            </div>
            <div class="transaction_body">
                <div class="transaction_description">
                    <h4>Movil</h4>
                    <span>Colo anyway</span>
                </div>
                <h3 class="dinner">+$5833,18</h3>
            </div>
        </div>
        <div class="transaction_content">
            <div class="icon">
                <i class="fas fa-blender-phone"></i>
            </div>
            <div class="transaction_body">
                <div class="transaction_description">
                    <h4>Blender phone</h4>
                    <span>Colo anyway</span>
                </div>
                <h3 class="dinner">+$5133,18</h3>
            </div>
        </div>
    </div>
</div>