<app-sidebar-menu></app-sidebar-menu>
<div class="body">
    <app-navbar></app-navbar>
    <app-map-marker></app-map-marker>
    <div class="mark one">
        <div class="pin">
            <div class="container-mark">
                <img src="../../../../assets/images/global/thumbail.jpg" alt="">
            </div>
        </div>
        <div class="pulse"></div>
        <div class="description_mark">
            <span>Lorem, ipsum dolor sit amet consectetur...</span>
        </div>
    </div>
    <div class="mark two">
        <div class="pin">
            <div class="container-mark">
                <img src="../../../../assets/images/global/thumbail.jpg" alt="">
            </div>
        </div>
        <div class="pulse"></div>
        <div class="description_mark">
            <span>Lorem, ipsum dolor sit amet consectetur...</span>
        </div>
    </div>
    <div class="mark tree">
        <div class="pin">
            <div class="container-mark">
                <img src="../../../../assets/images/global/thumbail.jpg" alt="">
            </div>
        </div>
        <div class="pulse"></div>
    </div>
    <div class="mark for">
        <div class="pin">
            <div class="container-mark">
                <img src="../../../../assets/images/global/thumbail.jpg" alt="">
            </div>
        </div>
        <div class="pulse"></div>
    </div>
</div>
<app-footer></app-footer>
