<app-sidebar-menu></app-sidebar-menu>
<div class="body">
    <app-navbar></app-navbar>
    <app-map-marker></app-map-marker>
    <div class="mark one" style="">
        <div class="pin">
            <div class="container-mark">
                <img src="../../../../assets/images/global/thumbail.jpg" alt="">
            </div>
        </div>
        <div class="pulse"></div>
    </div>
    <div class="mark two" style="">
        <div class="pin">
            <div class="container-mark">
                <img src="../../../../assets/images/global/thumbail.jpg" alt="">
            </div>
        </div>
        <div class="pulse"></div>
    </div>
    <div class="mark tree" style="">
        <div class="pin">
            <div class="container-mark">
                <img src="../../../../assets/images/global/thumbail.jpg" alt="">
            </div>
        </div>
        <div class="pulse"></div>
    </div>
    <div class="mark for" style="">
        <div class="pin">
            <div class="container-mark">
                <img src="../../../../assets/images/global/thumbail.jpg" alt="">
            </div>
        </div>
        <div class="pulse"></div>
    </div>
</div>
<app-footer></app-footer>
