.body{
    position: relative;
    top: 0;
    width: 100%;
    height: 100vh;
    background-image: url("../../../../assets/images/global/map.jpg");
    z-index: 0;
    overflow: hidden;
    /* background-repeat: no-repeat;
    background-size: cover; */
}

/**************/
.mark.for{
    transform: translate(250px, 200px);
    width: auto;
    height: auto;
    background-color: transparent;
    max-width: 53px;
    margin: auto;
}
.mark.one{
  transform: translate(-150px, 100px) !important;
  width: auto;
  height: auto;
  background-color: transparent;
  max-width: 250px;
  margin: auto;
  position: relative;
}
.mark.two{
  transform: translate(-50px, 50px) !important;
  width: auto;
  height: auto;
  background-color: transparent;
  max-width: 250px;
  margin: auto;
  position: relative;
}
.mark.tree{
  transform: translate(150px, 150px) !important;
  width: auto;
  height: auto;
  background-color: transparent;
  max-width: 250px;
  margin: auto;
  position: relative;
}
.pin{
    width : 50px;
    height : 50px;
    border-radius: 50% 50% 50% 0;
    background: linear-gradient(#3e509c, #b85999);
    position: absolute;
    transform:rotate(-90deg);
    left: 50%;
    top: 50%;
    margin:-40px 0 0 -40px;
    animation-name: bounce;
    animation-fill-mode: both;
    animation-duration:1s;
}
.pin .container-mark{
    content: '';
    width: 40px;
    height: 40px;
    margin: 5px 0px 0px 5px;    
    background: #2F2F2F;
    position: absolute;
    border-radius: 50%;
    transform: inherit;
    overflow: hidden;
}
.pin .container-mark img{
    width: 100%;
    height: 100%;
    transform:rotate(-270deg);
}
.pulse{
    background: rgba(184,89,153,0.2);
    border-radius: 50%;
    height: 14px;
    width: 14px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: 25px 0px 0px -22px;
    transform: rotateX(55deg);
    z-index: -2
}
.pulse:after{
    content: "";
    border-radius: 50%;
    height: 40px;
    width: 40px;
    position: absolute;
    margin: -13px 0 0 -13px;
    animation: pulsate 1s ease-out;
    animation-iteration-count: infinite;
    opacity: 0.0;
    box-shadow: 0 0 1px 2px #b85999;
    animation-delay: 1.1s;
}
.description_mark{
  background-color: #FFF;
  width: 150px;
  height: auto;
  position: absolute;
  right: -45px;
  top: -31px;
  padding: 10px;
  border-radius: 14px;
  box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, 0.1);
  font-size: 0.8em;
  line-height: 15px;
  color: #9da4ac;
}
.description_mark::after{
  content: '';
  width: 10px;
  height: 10px;
  background-color: #FFF;
  position: absolute;
  top: 12px;
  left: -4px;
  transform: rotate(-135deg);
}
.description_mark:hover{
  z-index: 9999;
  color: #000;
}
.mark:hover{
  z-index: 9999;
  cursor: pointer;
}
@keyframes pulsate{
  0%{
    transform: scale(0.1, 0.1);
    opacity: 0.0;
  }  
  50%{
    opacity: 1.0;
  }
  100%{
    transform: scale(1.2, 1.2);
    opacity: 0;
  }
}
@keyframes bounce{
  100%{
    transform: translateY(0) rotate(-45deg);
  }
}